.App {
    display: table-cell;
    vertical-align: middle;
    border-radius: 10px;
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
}

.userInput {
    text-align: left;
}

.section { 
    display: block;
    padding: 20px;
    margin: 10px;
    border: 0 none;
}

.section p {
    font-size: 20px;
}

#tournamentURL {
    height: 20px;
    width: 700px;
    font-size: 14px;
    border-radius: 4px;
    border-color: gray;
    padding: 5px;
}

#division {
    font-size: 16px;
    margin-right: 5px;
}

#gender {
    font-size: 16px;
    margin-right: 10px;
}

#teamName {
    font-size: 16px;
    margin-top: 5px;
}

#viewStats {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #23baca;
    color: white;
    border-color: #23baca;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto;
    margin-top: 50px;
}

#viewStats:hover {
    background-color: #159dab;
}
